<div class="container-fluid m-0 position-fixed header bg-black position-sticky mb-5">
    <div class="row h-100">
        <div class="offset-2 col-2 h-100 d-flex align-items-center">
            <a routerLink="/" class="text-decoration-none fs-2 text-white">FoodHub</a>
        </div>
        <div class="col-4">
            <div class="d-flex flex-row gap-1 text-center align-items-center h-100 m-1">
                <a routerLink="product-list" class="flex-grow-1 text-decoration-none fs-4 text-white">MENU</a>
                <a routerLink="" class="flex-grow-1 text-decoration-none fs-4 text-white">FIND BUTIK</a>
                <a routerLink="profile" class="flex-grow-1 text-decoration-none fs-4 text-white">TILBUD</a>
                <a routerLink="/signup" class="flex-grow-1 text-decoration-none fs-4 text-white">FIND JOB</a>
            </div>
        </div>

        <div class="offset-1 col-2" [ngSwitch]="loggedIn">
            <div class="d-flex flex-row gap-1 text-center align-items-center h-100 m-1">
                <a routerLink="login" class="text-decoration-none fs-5 text-white" *ngSwitchCase="true">MIN KONTO <i
                        class="fa-regular fa-user user"></i></a>
                <a routerLink="login" class="text-decoration-none fs-5 text-white text-uppercase"
                    *ngSwitchCase="false">Login</a>
                <button (click)="logud()" class="text-decoration-none fs-5 text-white" class="logoutbutton"
                    *ngSwitchCase="true"> logud</button>

            </div>
        </div>
        <div>

        </div>
    </div>
</div>