.container {
    width: 800px;
    height: cover;
    margin: auto;
    border-radius: 3px;
    color: white;
    background-color: #031926;
    text-transform: capitalize;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    background-color: white;
}

input[type=text],
input[type=password] {
    width: 320px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid black;
    font-size: 18px;
}

button {
    color: white;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#0d6efd;
}

i {
    margin-left: -30px; 
    cursor: pointer;  
    color: black;
}
