<div class="height container text-center">
    <div class="row gx-5">
        
        <div class="col">
            <div class="card" style="border: 0;">
                <img src="../../../assets/FoodHub.jpg" alt="" class="card-img-top" >
                <div class="card-body" style="background-color: #222222;">
                    <h5 class="card-title text-white">FoodHub</h5>
                    <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis sem a arcu consectetur egestas iaculis eu leo. Nullam rutrum diam iaculis elit blandit dapibus. Aliquam vel dolor at lectus pulvinar sagittis quis eu nibh. Vivamus pretium viverra consectetur.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2212.981174157921!2d12.340788515737126!3d55.732031501061485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525aecc973a033%3A0x5d353dff82033f37!2sTelegrafvej%209%2C%202750%20Ballerup!5e1!3m2!1sda!2sdk!4v1669123532920!5m2!1sda!2sdk" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
