<!--
<div class="height">
  <div class="container">
    <h1>login</h1>
    <form>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" required [(ngModel)]="request.email">

      <i class="fa fa-envelope" style="margin-left: -30px; cursor: pointer; color: #000;"></i>


      <label for="psw"><b>Password</b></label>
      <input [type]="changetype?'password':'text'" placeholder="Enter Password" name="password" required [(ngModel)]="request.password">
      <span class="eyeicon" (click)="viewpass()"> <i [ngClass]="visible? 'fa fa-eye-slash':'fa fa-eye'" style="margin-left: -30px; cursor: pointer; color: black;"></i></span>

      <a routerLink="/signup" class="text-white" style="text-decoration: none">Har du ikke en konto?</a>
      
      <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
    </form>
  </div>
</div>
-->

<div class="height">
  <form class="container row">
    <h1 class="text-center mt-2">Login</h1>
    <div class="row g-2">

      <div class="col-12">
        <label for="email" class="form-label noselect">Email</label>
        <input type="text" placeholder="Enter Email" name="Email" required [(ngModel)]="request.email">
        <i class="fa fa-envelope"></i>
      </div>

      <div class="col-12">
        <label for="pwd" class="form-label noselect">Password</label>
        <input [type]="changetype?'password':'text'" placeholder="Enter Password" name="password" required [(ngModel)]="request.password">
        <span class="eyeicon pwd" (click)="viewpass()"><i class="pwd" [ngClass]="visible? 'fa fa-eye-slash':'fa fa-eye'"></i></span>
      </div>

      <a routerLink="/signup" class="text-white" style="text-decoration: none">Har du ikke en konto?</a>
      
      <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

    </div>
  </form>
</div>


  