<div class="height">
  <div class="container">

    <h1>login</h1>
    <form>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" required [(ngModel)]="request.email">
      <i class="fa fa-envelope"></i>

      <label for="psw"><b>Password</b></label>
      <input [type]="changetype?'password':'text'" placeholder="Enter Password" name="password" required [(ngModel)]="request.password">
      <span class="eyeicon" (click)="viewpass()"> <i [ngClass]="visible? 'fa fa-eye-slash':'fa fa-eye'" style="margin-left: -30px; cursor: pointer; color: black;"></i></span>

      <button type="submit" (click)="login()">Login</button>

    </form>
  </div>
</div>
<style>
  i{
    margin-left: -30px;
    color: black;
  }
</style>

  