<div class="container">
    <h1>login</h1>
    <form>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" required [(ngModel)]="request.email">
  
      <label for="psw"><b>Password</b></label>
      <input [type]="changetype?'password':'text'" placeholder="Enter Password" name="password" required [(ngModel)]="request.password" >
      <span class="eyeicon" (click)="viewpass()"> <i [ngClass]="visible? 'fa fa-eye':'fa fa-eye-slash'" style="margin-left: -30px; cursor: pointer;"></i></span>

      <button type="submit">Login</button>
    </form>
  </div>

  