<div class="height">
    <form class="container row g-3" name="form">
        <h1 class="text-white text-center title">Min Profil</h1>

        <div class="col-4">
            <div class="mx-auto mt-5">
                <img src="../../../assets/user.png" (click)="egg()" class="rounded-circle position-relative top-25 start-50 translate-middle" width="150" style="margin-bottom: -50px; margin-top: 56.5px;">
            </div>
            <div class="mt-3 ">
                <h4 class="text-center">{{customer.firstName}} {{customer.lastName}}</h4>
                <p class="text-light mb-1 text-center" *ngIf="isAdmin">{{customer.account.role}}</p>
            </div>
        </div>

        <div class="col-7">
            <div class="col-12">
                <label class="form-label noselect">Fornavn :</label>
                <input class="form-control" type="text" id="firstName" [(ngModel)]='customer.firstName' [disabled]="allowEdit ? false : true" name="firstnameInput">
            </div>
            <span *ngIf="!allowSaveF" class="text-danger ng-hide">*Skal udfylde fornavn</span>
    
            <div class="col-12">
                <label for="lastName" class="form-label noselect">Efternavn :</label>
                <input type="text" name="lastName" id="lastName" [(ngModel)]='customer.lastName' [disabled]="allowEdit ? false : true">
            </div>
            <span *ngIf="!allowSaveL" class="text-danger ng-hide">*Skal udfylde efternavn</span>
    
            <div class="col-12">
                <label for="telefonnummer" class="form-label noselect">Telefonnummer :</label>
                <input type="text" name="telefonnummer" id="phoneNumber" [(ngModel)]='customer.phoneNumber' [disabled]="allowEdit ? false : true">
            </div>
            <span *ngIf="!allowSaveP" class="text-danger ng-hide">*Skal udfylde telefonnummer</span>
    
            <div class="col-12">
                <label for="email" class="form-label noselect" style="margin-right: 15px;">Email :</label>
                <input type="text" name="email" id="email" [(ngModel)]='customer.account.email' [disabled]="allowEdit ? false : true">
            </div>
            <span *ngIf="!allowSaveE" class="text-danger ng-hide">*Skal udfylde Email</span>
    
            <div class="col-12">
                <label for="address" class="form-label noselect">Addresse :</label>
                <input type="text" name="address" id="address" [(ngModel)]='customer.address' [disabled]="allowEdit ? false : true">
            </div>
            <span *ngIf="!allowSaveA" class="text-danger ng-hide">*Skal udfylde addresse</span>
    
            <div class="col-12">
                <label for="zipCode" class="form-label noselect">Postnummer :</label>
                <input type="text" name="postnummer" id="zipCode" [(ngModel)]='customer.zipCode' [disabled]="allowEdit ? false : true">
            </div>
            <span *ngIf="!allowSaveZ" class="text-danger ng-hide">*Skal udfylde postnummer</span>
    
            <div class="col-12">
                <label for="created_At" class="form-label noselect">Konto oprettet :</label>
                <p style="cursor: default; margin-bottom: 0px;">{{customer.created_At | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>

        <div class="col-6">
            <button class="btn btn-primary float-end" (click)="edit()" style="margin-top: 10px; margin-bottom: 20px;">Edit</button>
        </div>

        <div class="col-6">
            <button class="btn btn-primary float-start" (click)="save()" [disabled]="allowEdit ? false : true" style="margin-top: 10px; margin-bottom: 20px;">Save</button>
        </div>
    </form>
</div>