<div class="height">
    <form class="container row g-3">
        <h1 class="text-white text-center">Min Profil</h1>

        <div class="col-4" style="margin-top: 0px; margin-left: 35px;">
            <img src="../../../assets/user.png" (click)="egg()" class="rounded-circle" width="150">
            <div class="mt-3">
                <h4>{{customer.firstName}} {{customer.lastName}}</h4>
                <p class="text-light mb-1">{{customer.account.role}}</p>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12">
                <label for="firstname" class="form-label noselect">Fornavn :</label>
                <input type="text" name="firstName" [(ngModel)]='customer.firstName' [disabled]="allowEdit ? false : true">
            </div>
    
            <div class="col-12">
                <label for="lastName" class="form-label noselect">Efternavn :</label>
                <input type="text" name="lastName" [(ngModel)]='customer.lastName' [disabled]="allowEdit ? false : true">
            </div>
    
            <div class="col-12">
                <label for="telefonnummer" class="form-label noselect">Telefonnummer :</label>
                <input type="text" name="telefonnummer" [(ngModel)]='customer.phoneNumber' [disabled]="allowEdit ? false : true">
            </div>
    
            <div class="col-12">
                <label for="email" class="form-label noselect" style="margin-right: 15px;">Email :</label>
                <input type="text" name="email" [(ngModel)]='customer.account.email' [disabled]="allowEdit ? false : true">
            </div>
    
            <div class="col-12">
                <label for="address" class="form-label noselect">Addresse :</label>
                <input type="text" name="address" [(ngModel)]='customer.address' [disabled]="allowEdit ? false : true">
            </div>
    
            <div class="col-12">
                <label for="postnummer" class="form-label noselect">Postnummer :</label>
                <input type="text" name="postKode" [(ngModel)]='customer.zipCode' [disabled]="allowEdit ? false : true">
            </div>
    
            <div class="col-12">
                <label for="created_At" class="form-label noselect">Konto oprettet :</label>
                <p style="cursor: default; margin-bottom: 0px;">{{customer.created_At | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>

        <button class="btn btn-primary" (click)="edit()">Edit</button>
        <button class="btn btn-primary" (click)="save()" [disabled]="allowEdit ? false : true">Save</button>
        
    </form>
</div>